SSID            = ""
PASSWORD        = ""
MQTT_SERVER     = ""
MQTT_PORT       = 1883
MQTT_USER       = ""
MQTT_PASSWORD   = ""
DEVICE_ID       = ""
NTP_HOST        = ""  # defaults to MQTT_SERVER if omitted
MODEL           = ""  # galactic | cosmic | stellar | unicorn_pack | custom
